.header1
{
    height: 10vh;
    width: 100vw;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    background-color: white;
    box-shadow: 0px 5px 5px 0 rgb(48 68 78 / 10%);
    z-index: 100;
    
    a
    {
        text-decoration: none;
        color: black;
    }

    nav 
    {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 10vh;
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;

        figure 
        {
            justify-self: center;
            align-self: center;
            margin-left: 0;

            img 
            {
                width: 5vw;
                height: 3vh;
            }
        }

        ul:first-of-type 
        {
            align-self: center;
            padding-left: 4vw;
            font-weight: bold;
            
            a:hover
            {
                color: #B39114;
                border: 2px solid #B39114;
                padding: 0.5em;
            }

            li 
            {
                display: inline-block;
                padding-left: 4vw;
                color: black;
        
            }
        }

        ul:last-of-type 
        {
            align-self: center;
            padding-left: 0;
            
            a:hover
            {
                color: #B39114;
            }

            li 
            {
                display: inline-block;
                padding-left: 1vw;
            }

            .fas 
            {
                margin-right: 1vw;
                padding-right: 2vw;
                border-right: 1px solid rgba(0, 0, 0, 0.35);
            }
        }
    }
}


.header2
{
    height: 10vh;
    width: 100vw;
    background-color: #074b6b;
    box-shadow: 2px 2px 5px rgb(0 0 0 / 40%);

    nav 
    {
        display: grid;
        grid-template-columns: 0.1fr 1fr;
        margin: 0;
        padding: 0;
        height: 100%;

        figure 
        {
            align-self: center;

            img 
            {
                width: 7vw;
                height: 7vh;
                margin-left: -1vw;

            }
        }

        ul 
        {
            align-self: center;

            li 
            {
                display: inline-block;
                padding-left: 9vw;
                font-size: 1.2em;

                a 
                {
                    text-decoration: none;
                    color: white;
                    padding-bottom: 1.8vh;
                }

                a:hover 
                {
                    border-bottom: 3px solid #bb232e;
                    border-bottom-offset: 1em;

                }
            }
        }
    }
}
    
    
